In [2]:
n = 5
while n > 0 :
    print(n)
    n = n-1
print('Blastoff!')
print(n)

5
4
3
2
1
Blastoff!
0

In [ ]:
# infinite loop
n = 5
while n > 0 :
    print('Lather')
    print('Rinse')

print('Dry off!')

In [1]:
while True:
    line = input('> ')
    if line == 'done' :
        break
    print(line)
print('Done!')

> hello
hello
> world
world
> hello world
hello world
> done with line
done with line
> done
Done!

In [2]:
n = 0
while n > 0 :
    print('Lather')
    print('Rinse')
print('Dry off!')

Dry off!

In [4]:
while True:
    line = input('> ')
    if line[0] == '#' :
        continue
    if line == 'done' :
        break
    print(line)
print('Done!')

> #
> hello
hello
> world
world
> done
Done!

In [5]:
for i in [5, 4, 3, 2, 1] :
    print(i)
print('Blastoff!')

5
4
3
2
1
Blastoff!

In [6]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends : 
    print('Happy New Year:', friend)
print('Done!')

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Done!

In [7]:
print('Before')
for thing in [9, 41, 12, 3, 74, 15] :
    print(thing)
print('After')

Before
9
41
12
3
74
15
After

In [10]:
largest_so_far = -1
print('Before', largest_so_far)
for the_num in [9, 41, 12, 3, 74, 15] :
    if the_num > largest_so_far :
        largest_so_far = the_num
    print(largest_so_far, the_num)
print('After', largest_so_far)

Before -1
9 9
41 41
41 12
41 3
74 74
74 15
After 74

In [11]:
zork = 0
print('Before', zork)
for thing in [9, 41, 12, 3, 74, 15] :
    zork = zork + 1
    print(zork, thing)
print('After', zork)

Before 0
1 9
2 41
3 12
4 3
5 74
6 15
After 6

In [12]:
zork = 0
print('Before', zork)
for thing in [9, 41, 12, 3, 74, 15] :
    zork = zork + thing
    print(zork, thing)
print('After', zork)

Before 0
9 9
50 41
62 12
65 3
139 74
154 15
After 154

In [14]:
count = 0
sum = 0
print("before", count, sum)
for values in [12,23,45,67,13]:
    count= count+1
    sum = sum+values
    print(count, sum, values)
print("after", count, sum, sum/count)

before 0 0
1 12 12
2 35 23
3 80 45
4 147 67
5 160 13
after 5 160 32.0

In [16]:
print('Before')
for value in [9, 41, 12, 3, 74, 15] :
    if value > 20:
        print('Large number',value)
print('After')

Before
Large number 41
Large number 74
After

In [17]:
found = False
print('Before', found)
for value in [9, 41, 12, 3, 74, 15] : 
    if value == 3 :
        found = True
    print(found, value)
print('After', found)

Before False
False 9
False 41
False 12
True 3
True 74
True 15
After True

In [18]:
smallest_so_far = -1
print('Before', smallest_so_far)
for the_num in [9, 41, 12, 3, 74, 15] :
    if the_num < smallest_so_far :
        smallest_so_far = the_num
    print(smallest_so_far, the_num)
print('After', smallest_so_far)

Before -1
-1 9
-1 41
-1 12
-1 3
-1 74
-1 15
After -1

In [1]:
smallest = None
print('Before')
for value in [3, 41, 12, 9, 74, 15] :
    if smallest is None : 
        smallest = value
    elif value < smallest : 
        smallest = value
    print(smallest, value)
print('After', smallest)

Before
3 3
3 41
3 12
3 9
3 74
3 15
After 3